.HeaderComponent {
    grid-area: h;
    background-color: #33363c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    border-radius:  0 0 15px 15px   ;
}

.HeaderComponent a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
