@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #f0f0ed;
    font-family: 'Reggae One', cursive;

}
body:after {
    content: "";
    background-image: url("./../images/tmb_310204_690905.jpg") ;
    background-size: 100% 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.App {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h "
    "s b"
    "n b ";
    grid-template-rows: 1fr 1fr 15fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}



