.NavComponent {
    grid-area: n;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.NavComponent a {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.NavComponent a.active {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 800;
}